:root{
    --color-1: #ffffff;
    --bottonColor: #252525;
    --colorTitle1: #FEC3C7;
    --colorTitle2: #9AD7F3;
    --colorTitle3: #6BDFDA;
}

@font-face {
    font-family: "AvenirLTStd-Black";
    src: url(../storage/font/avenir-font/AvenirLTStd-Black.otf);
}