:root{
    --color-1: #FFFFFF;
    --color-2: #080808;
    --color-3: #AB2706;
    --color-4: #E5B94B;

}
@font-face {
    font-family: "WorkSans-Bold";
    src: url(../storage/font/WorkSans-Bold.ttf);
}
@font-face {
    font-family: "WorkSans-Light";
    src: url(../storage/font/WorkSans-Light.ttf);
}
@font-face {
    font-family: "WorkSans-Medium";
    src: url(../storage/font/WorkSans-Medium.ttf);
}