:root{
    --color-1: #ffffff;
    --button: #457D61;
}

@font-face {
    font-family: "AvenirLTStd-Black";
    src: url(../storage/font/avenir-font/AvenirLTStd-Black.otf);
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(../storage/font/Poppins-Regular.ttf);
}