:root{
    --color-1: #ffffff;
<<<<<<<< HEAD:css/variablesPage13.css
    --color-2: hsla(0, 0%, 15%, 0.45);
    --color-3: hsla(0, 0%, 15%, 0.8);
    --color-4: #252525;
    
========
    --button: #457D61;
>>>>>>>> 15:css/variablesPage15.css
}

@font-face {
    font-family: "AvenirLTStd-Black";
    src: url(../storage/font/avenir-font/AvenirLTStd-Black.otf);
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(../storage/font/Poppins-Regular.ttf);
}