<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylePage2.css">
    <title>Document</title>
</head>
<body>
    <main class="main__container">
        <div class="div__box_1">
            <h1>Discover the beauty around the world</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu.</p>
            <button>Get started</button>
        </div>
        <div class="div__img_1">
            <img src="../storage/imgPage2/imagen1.png" alt="left-image">
        </div>
        <div class="div__img_2">
            <img src="../storage/imgPage2/imagen2.png" alt="right-image">
        </div>
        <div class="div__box_2">
            <div class="div__image_box">
              <img src="../storage/imgPage2/imagen1-1.png" alt="1">
              <span>01</span>
            </div>
            <div class="div__image_box">
              <img src="../storage/imgPage2/imagen1-2.png" alt="2">
              <span>02</span>
            </div>
            <div class="div__image_box">
              <img src="../storage/imgPage2/imagen1-3.png" alt="3">
              <span>03</span>
            </div>
          </div>
        </main>
</body>
</html>