<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylePage21.css">
    <title>Document</title>
</head>
<body>
    <section class="section__imgText">
        <div class="div__text">
            <h1>No kid hungry</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
            <button>Donate</button>
        </div>
        <img src="../storage/imgPage21/unsplashPage21.png">
    </section>
    <section class="section__cardsImg">
        <img src="../storage/imgPage21/leftPage21.png">
        <img src="../storage/imgPage21/MiddlePage21.png">
        <img src="../storage/imgPage21/RightPage21.png">
    </section>
</body>
</html>